.content {
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
}

.loginDocente {
    width: 50%;
    height: 100%;
    background: #fff;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

.contentlogindoc {
    width: 100%;
    height: 100%;
}


.link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    background: linear-gradient(to bottom, rgb(0 0 0 / .5), rgb(0 0 0 / .5)), url(../Images/docentes.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
}

.link a {
    text-decoration: none;
    color: #fff;
}

.loginAlumno {
    width: 50%;
    height: 100%;
    background: #fff;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}
.contentloginalu {
    width: 100%;
    height: 100%;
}
.link2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    background: linear-gradient(to bottom, rgb(0 0 0 / .5), rgb(0 0 0 / .5)), url(../Images/alumnos.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
}

.link2 a {
    text-decoration: none;
    color: #fff;
}